.catproductscontainer{
    width:20%;
    display: flex;
    justify-content: center;
    margin:30px;

    div{

        .catproductsimagewrapper{
            height: 300px;
            overflow: hidden;
            
            .catproductsimage{
                height: 100%;
                // width: 100%;
                // width: 230px;
                width: 230px;
                object-fit: cover;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                transition: transform .6s ease;
            }
        }
    }
}
